{% extends "../base.html" %}
{% load static %}

{% block style %}
<link href="{% static 'aron/css/aron.css' %}" rel="stylesheet" />
{% endblock %}

{% block body%}
{% include './background.html' %}
{% include './intro.html' %}
{% include './players.html' %}
{% include './steps.html' %}
{% include './features.html' %}
{% include './countdown.html' %}
{% include './quotes.html' %}
{% include './choices.html' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'aron/js/aron.js' %}"></script>
{% endblock %}