{%load i18n%} {% get_current_language as LANGUAGE_CODE %}

<div class="section">
  <p class="choice-title">
    {% translate "I want to trade on players' performance from" %}
  </p>
  <div class="choice-section">
    {% if LANGUAGE_CODE == 'en' %}<a
      class="choice-img"
      href="http://link.arongroups.biz/3iLabuL"
    >
      <img src="/static/aron/img/football_button.png" /></a
    >{% else %}<a class="choice-img" href="http://link.arongroups.biz/3QKpm3Y">
      <img src="/static/aron/img/football_button_hin.png" /></a
    >{% endif%} {% if LANGUAGE_CODE == 'en' %}<a
      class="choice-img"
      href="http://link.arongroups.biz/3iLabuL"
    >
      <img src="/static/aron/img/cricket_button.png" /></a
    >{% else %}<a class="choice-img" href="http://link.arongroups.biz/3QKpm3Y">
      <img src="/static/aron/img/cricket_button_hin.png" /></a
    >{% endif%}
  </div>
  <p class="copyright">Copyright © 2023 Aron Football</p>
</div>
