{%load i18n%} {% get_current_language as LANGUAGE_CODE %}

<div class="section">
  {% if LANGUAGE_CODE == 'en' %}
  <p class="countdown-title">
    {% translate "Join now." %}
    <span class="countdown-yellow-title gradient-color"
      >{% translate "A 50% bonus" %}</span
    >
    <br />{% translate "on your" %}
    <span class="countdown-yellow-title gradient-color">
      {% translate "first deposit is waiting!" %}
    </span>
  </p>
  {% else %}
  <p class="countdown-title">
    अभी जुड़ें। आपके
    <span class="countdown-yellow-title gradient-color">पहले डिपॉजिट</span> पर
    <br />50% का बोनस
    <span class="countdown-yellow-title gradient-color">
      आप का. इंतजार कर रहा है!
    </span>
  </p>
  {% endif %}

  <div class="countdown-section">
    <img class="countdown-img" src="/static/aron/img/countdown_pic.png" />
    <div class="countdown-info">
      <p class="countdown-word gradient-color">{% translate "Countdown" %}</p>
      <p id="countdown" class="countdown-text"></p>
      {% if LANGUAGE_CODE == 'en' %}<a
        class="countdown-button"
        href="http://link.arongroups.biz/3iLabuL"
      >
        <img
          class="countdown-button-img"
          src="/static/aron/img/claim_bonus.svg" /></a
      >{% else %}<a
        class="countdown-button"
        href="http://link.arongroups.biz/3QKpm3Y"
        ><img
          class="countdown-button-img"
          src="/static/aron/img/claim_bonus_hin.svg" /></a
      >{% endif %}
    </div>
  </div>
</div>
