<div class="features_section">
  <p class="features-title">
    Why <span class="features-yellow-title gradient-color">Aron Football</span> is worth trying:
  </p>
  <div class="features-flex-responsive">
    <div class="flex-column">
      <img class="img" src="/static/aron/img/players.svg" />
      <p class="normal-text">Over 1300<br>
        football players<br>
        to choose from</p>
    </div>
    <div class="flex-column">
      <img class="img" src="/static/aron/img/actives.svg" />
      <p class="normal-text">
        35,927 active<br>
        traders daily
      </p>
    </div>
    <div class="flex-column">
      <img class="img" src="/static/aron/img/daily_transactions.svg" />
      <p class="normal-text">
        1,2 Bn Dollars worth<br>
        daily transactions
      </p>
    </div>
    <div class="flex-column">
      <img class="img" src="/static/aron/img/deposit.svg" />
      <p class="normal-text">Instant deposit<br>
        and withdrawals</p>
    </div>
    <div class="flex-column">
      <img class="img" src="/static/aron/img/support.svg" />
      <p class="normal-text">
        24/7 support<br>
        service
      </p>
    </div>
    <div class="flex-column">
      <img class="img" src="/static/aron/img/transparency.svg" />
      <p class="normal-text">
        Full transparency
      </p>
    </div>
  </div>
</div>