<div class="intro-section">
  <p class="upto">
    get<br />
    up to<br />
    <span class="gradient-color">$500</span>
  </p>
  <img class="intro-img" src="/static/aron/img/main_pic.svg" />
  <div class="intro-info">
    <p class="invest-word gradient-color">Invest in</p>
    <p class="performance-text">
      the performance<br />
      of your favorite
    </p>
    <p class="players-text">football players</p>
    <p class="join-text">
      Join now and get<span class="gradient-color"> 50% </span><br />bonus on
      your first deposit
    </p>
    <a href="#"
      ><img class="intro-button-img" src="/static/aron/img/join.svg"
    /></a>
  </div>
</div>
