{%load i18n%} {% get_current_language as LANGUAGE_CODE %}
<div class="intro-section">
  {% if LANGUAGE_CODE == 'en' %}
  <p class="upto">
    {% translate "get" %}<br />
    {% translate "up to" %}<br />
    <span class="gradient-color">$500</span>
  </p>
  {% else %}
  <p class="upto">
    <span class="gradient-color">$500</span><br />
    {% translate "get" %}<br />
    {% translate "up to" %}
  </p>
  {% endif %}
  <img class="intro-img" src="/static/aron/img/main_pic.png" />
  <div class="intro-info">
    <p class="invest-word gradient-color">{% translate "Invest in" %}</p>
    <p class="performance-text">
      {% translate "the performance" %}<br />
      {% translate "of your favorite" %}
    </p>
    <p class="players-text">{% translate "football players" %}</p>
    <p class="join-text">
      {% translate "Join now and get" %}<span class="gradient-color"> 50% </span
      ><br />
      {% translate "bonus on your first deposit" %}
    </p>
    <a href="https://client.arongroups.co/register/"
      >{% if LANGUAGE_CODE == 'en' %}<img
        class="intro-button-img"
        src="/static/aron/img/join.png"
      />{% else %}<img
        class="intro-button-img"
        src="/static/aron/img/join_hin.png"
      />{% endif %}</a
    >
  </div>
</div>
