<div class="players-section">
  <div class="flex-responsive">
    <div class="players-flex-between">
      <img class="players-img" src="/static/aron/img/messi.svg" />
      <div class="players-info">
        <p class="player-name gradient-color">lionel messi</p>
        <div class="player-details">
          <p class="price">$37.8</p>
          <p class="percent negative">-0.16</p>
          <img class="chart" src="/static/aron/img/messi_chart.svg" />
        </div>
        <div class="buttons">
          <a class="btn" href="#"> <img src="/static/aron/img/buy.svg" /></a>
          <a class="btn" href="#"> <img src="/static/aron/img/sell.svg" /></a>
        </div>
      </div>
    </div>
    <div class="players-flex-between">
      <img class="players-img" src="/static/aron/img/jr.svg" />
      <div class="players-info">
        <p class="player-name gradient-color">neymar jr</p>
        <div class="player-details">
          <p class="price">$34.6</p>
          <p class="percent Positive">+0.23</p>
          <img class="chart" src="/static/aron/img/jr_chart.svg" />
        </div>
        <div class="buttons">
          <a class="btn" href="#"> <img src="/static/aron/img/buy.svg" /></a>
          <a class="btn" href="#"> <img src="/static/aron/img/sell.svg" /></a>
        </div>
      </div>
    </div>
    <div class="players-flex-between">
      <img class="players-img" src="/static/aron/img/cr7.svg" />
      <div class="players-info">
        <p class="player-name gradient-color">Cr. Ronaldo</p>
        <div class="player-details">
          <p class="price">$42.8</p>
          <p class="percent Positive">+0.13</p>
          <img class="chart" src="/static/aron/img/cr7_chart.svg" />
        </div>
        <div class="buttons">
          <a class="btn" href="#"> <img src="/static/aron/img/buy.svg" /></a>
          <a class="btn" href="#"> <img src="/static/aron/img/sell.svg" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
