<div class="players-section">
  <div class="flex-responsive">
    <div class="players-flex-between">
      <img class="players-img" src="/static/aron/img/messi.png" />
      <div class="players-info">
        <p class="player-name gradient-color">lionel messi</p>
        <div class="player-details">
          <p class="price">$37.8</p>
          <p class="percent negative">-0.16</p>
          <img class="chart" src="/static/aron/img/messi_chart.svg" />
        </div>
        <div class="buttons">
          {% if LANGUAGE_CODE == 'en' %}
          <a class="btn" href="http://link.arongroups.biz/3iLabuL">
            <img src="/static/aron/img/buy.svg" />
          </a>
          {% else %}
          <a class="btn" href="http://link.arongroups.biz/3QKpm3Y">
            <img src="/static/aron/img/buy.svg" /></a
          >{% endif %} {% if LANGUAGE_CODE == 'en' %}
          <a class="btn" href="http://link.arongroups.biz/3iLabuL">
            <img src="/static/aron/img/sell.svg" />
          </a>
          {% else %}
          <a class="btn" href="http://link.arongroups.biz/3QKpm3Y">
            <img src="/static/aron/img/sell.svg" /></a
          >{% endif %}
        </div>
      </div>
    </div>
    <div class="players-flex-between">
      <img class="players-img" src="/static/aron/img/jr.png" />
      <div class="players-info">
        <p class="player-name gradient-color">neymar jr</p>
        <div class="player-details">
          <p class="price">$34.6</p>
          <p class="percent Positive">+0.23</p>
          <img class="chart" src="/static/aron/img/jr_chart.svg" />
        </div>
        <div class="buttons">
          {% if LANGUAGE_CODE == 'en' %}
          <a class="btn" href="http://link.arongroups.biz/3iLabuL">
            <img src="/static/aron/img/buy.svg" />
          </a>
          {% else %}
          <a class="btn" href="http://link.arongroups.biz/3QKpm3Y">
            <img src="/static/aron/img/buy.svg" /></a
          >{% endif %} {% if LANGUAGE_CODE == 'en' %}
          <a class="btn" href="http://link.arongroups.biz/3iLabuL">
            <img src="/static/aron/img/sell.svg" />
          </a>
          {% else %}
          <a class="btn" href="http://link.arongroups.biz/3QKpm3Y">
            <img src="/static/aron/img/sell.svg" /></a
          >{% endif %}
        </div>
      </div>
    </div>
    <div class="players-flex-between">
      <img class="players-img" src="/static/aron/img/cr7.png" />
      <div class="players-info">
        <p class="player-name gradient-color">Cr. Ronaldo</p>
        <div class="player-details">
          <p class="price">$42.8</p>
          <p class="percent Positive">+0.13</p>
          <img class="chart" src="/static/aron/img/cr7_chart.svg" />
        </div>
        <div class="buttons">
          {% if LANGUAGE_CODE == 'en' %}
          <a class="btn" href="http://link.arongroups.biz/3iLabuL">
            <img src="/static/aron/img/buy.svg" />
          </a>
          {% else %}
          <a class="btn" href="http://link.arongroups.biz/3QKpm3Y">
            <img src="/static/aron/img/buy.svg" /></a
          >{% endif %} {% if LANGUAGE_CODE == 'en' %}
          <a class="btn" href="http://link.arongroups.biz/3iLabuL">
            <img src="/static/aron/img/sell.svg" />
          </a>
          {% else %}
          <a class="btn" href="http://link.arongroups.biz/3QKpm3Y">
            <img src="/static/aron/img/sell.svg" /></a
          >{% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
