{%load i18n%}

<div class="quotes-section">
  <p class="countdown-title section">
    {% translate "What our" %}
    <span class="countdown-yellow-title gradient-color">
      {% translate "happy traders" %} 
    </span>
    {% translate "say" %}
  </p>
  <div class="quotes-flex-responsive">
    <div class="quotes-flex-between">
      <img class="quotes-img" src="/static/aron/img/man1.png" />
      <p class="customer-name gradient-color">
        Adzhitt<br />
        Varma
      </p>
      <p class="quote-date">14/11/2022</p>
      <p class="normal-text quote">
        {% blocktranslate %}When markets became turbulent, I decided to diversify my investments by focusing on the performance of football players. Messi and Ronaldo helped me double my funds. See for yourself!{% endblocktranslate %}
      </p>
      <div class="reactions like">
        <img class="likes-img" src="/static/aron/img/like.svg" />
        <p class="likes-count">286</p>
      </div>
      <div class="reactions comment">
        <img class="comments-img" src="/static/aron/img/comment.svg" />
        <p class="comments-count">46</p>
      </div>
    </div>
    <div class="quotes-flex-between">
      <img class="quotes-img" src="/static/aron/img/man2.png" />
      <p class="customer-name gradient-color">Mukesh<br />Shetty</p>
      <p class="quote-date">17/11/2022</p>
      <p class="normal-text quote">
        {% blocktranslate %}Guys, you are awesome! Keep up the amazing work and try to include more players from Latin America - there are lots of burgeoning talents! My tip is that you focus on young players.{% endblocktranslate %}
      </p>
      <div class="reactions like">
        <img class="likes-img" src="/static/aron/img/like.svg" />
        <p class="likes-count">254</p>
      </div>
      <div class="reactions comment">
        <img class="comments-img" src="/static/aron/img/comment.svg" />
        <p class="comments-count">42</p>
      </div>
    </div>
    <div class="quotes-flex-between">
      <img class="quotes-img" src="/static/aron/img/man3.png" />
      <p class="customer-name gradient-color">Saroj<br />Chandra</p>
      <p class="quote-date">25/11/2022</p>
      <p class="normal-text quote">
        {% translate "I never allowed myself to dream of being a scout for a football team. This service has opened my eyes to the ability to spot projected players and make trades as if I were a pro." %}
      </p>
      <div class="reactions like">
        <img class="likes-img" src="/static/aron/img/like.svg" />
        <p class="likes-count">195</p>
      </div>
      <div class="reactions comment">
        <img class="comments-img" src="/static/aron/img/comment.svg" />
        <p class="comments-count">36</p>
      </div>
    </div>
    <div class="quotes-flex-between">
      <img class="quotes-img" src="/static/aron/img/man4.png" />
      <p class="customer-name gradient-color">Rohan<br />Nanda</p>
      <p class="quote-date">05/12/2022</p>
      <p class="normal-text quote">
        {% blocktranslate %}Rather than simply betting on sports, Aron Football offers a unique approach to capitalizing on your expertise in sports by making consistent profits. Way to go, Aron!{% endblocktranslate %}
      </p>
      <div class="reactions like">
        <img class="likes-img" src="/static/aron/img/like.svg" />
        <p class="likes-count">143</p>
      </div>
      <div class="reactions comment">
        <img class="comments-img" src="/static/aron/img/comment.svg" />
        <p class="comments-count">26</p>
      </div>
    </div>
    <div class="quotes-flex-between">
      <img class="quotes-img" src="/static/aron/img/man5.png" />
      <p class="customer-name gradient-color">Darshit<br />Gotra</p>
      <p class="quote-date">11/12/2022</p>
      <p class="normal-text quote">
        {% blocktranslate %}It is hard to describe shortly all opportunities of trading on football players' performance. You just need to try it yourself. Moreover, Aron Football provides a 50% bonus on the first deposit right now. Don't miss out!{% endblocktranslate %}
      </p>
      <div class="reactions like">
        <img class="likes-img" src="/static/aron/img/like.svg" />
        <p class="likes-count">98</p>
      </div>
      <div class="reactions comment">
        <img class="comments-img" src="/static/aron/img/comment.svg" />
        <p class="comments-count">13</p>
      </div>
    </div>
  </div>
</div>