<div class="section">
  <p class="steps-title">
    Earn from your passion in<br /><span class="steps-yellow-title gradient-color">3 simple steps</span>
  </p>
  <div class="flex-responsive">
    <div class="flex-between">
      <img class="img" src="/static/aron/img/register.svg" />
      <p class="normal-text">1. Register</p>
      <img class="steps-back" src="/static/aron/img/1.svg">
    </div>
    <div class="flex-between">
      <img class="img" src="/static/aron/img/choose_player.svg" />
      <p class="normal-text">
        2. Choose<br />
        your player<br />
        for trading
      </p>
      <img class="steps-back" src="/static/aron/img/2.svg">
    </div>
    <div class="flex-between">
      <img class="img" src="/static/aron/img/buy_sell.svg" />
      <p class="normal-text">
        3. Buy low,<br />
        sell high!
      </p>
      <img class="steps-back" src="/static/aron/img/3.svg">
    </div>
  </div>
  <div class="learn-section">
    <p class="normal-text learn-text">
      How it works: Our algorithms create tradable indices and assign a monetary
      value to sports people. Over 500 data points are evaluated and monitored
      in real-time throughout the pricing engine for each player, allowing you
      to manage and trade options on specific players you follow.
    </p>
    <a class="learn-button" href="#"><img class="learn-img" src="/static/aron/img/learn_more.png" /></a>
  </div>
</div>