{% load static %} {% load i18n %} {% get_current_language as LANGUAGE_CODE %} 
{% load compress %}
<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>aron broker</title>
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"
    />
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="../static/aron/img/favicon-16x16.png"
    />

    {% compress css %}
    
    <!-- custom base style -->
    <link href="{% static 'base/css/base.css' %}" rel="stylesheet" />
    
    {% endcompress %}

    <!-- FAVICON AND TOUCH ICONS -->
    {% block style %} {% endblock %}
  </head>

  <body class="body" style="position: relative">
    <header>
      <img class="logo show" src="/static/aron/img/logo.svg" />
      {% if LANGUAGE_CODE == 'en' %}
      <div class="languages">
        <div class="parallelogram enable">
          <p>ENG</p>
        </div>
        <div class="parallelogram">
          <a href="/hi">
            <p>HIN</p>
          </a>
        </div>
      </div>
      {% else %}
      <div class="languages">
        <div class="parallelogram">
          <a href="/en"><p>ENG</p></a>
        </div>
        <div class="parallelogram enable"><p>HIN</p></div>
      </div>
      {% endif %}
      <img class="logo hide" src="/static/aron/img/logo.svg" />
    </header>
    {% block body %} {% endblock %}
    <div>
      <!-- footer section -->
    </div>
  </body>
  <!-- custom javascript -->
  <!-- <script type="text/javascript" src="{% static 'base/js/base.js' %}"></script> -->
  {% block javascript %} {% endblock %}
</html>
