.gradient-color {
  background: linear-gradient(334.16deg,
      #9a732b 0%,
      #f0bd51 13%,
      #feec6e 31%,
      #dd9c2b 68%,
      #fcd755 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip        : text;
}

body {
  margin    : 0;
  overflow-x: hidden;
}

.upto {
  position      : absolute;
  top           : 50px;
  font-weight   : 900;
  font-style    : italic;
  font-size     : 40px;
  line-height   : 48px;
  text-align    : right;
  text-transform: uppercase;
  left          : 28%;
  color         : #FFFFFF;
}

.upto span {
  font-size    : 54px;
  line-height  : 68px;
  padding-right: 10px;
}

header {
  display        : flex;
  padding        : 2% 5% 0 2%;
  align-items    : center;
  flex-flow      : row;
  justify-content: space-between;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.languages {
  display    : flex;
  align-items: center;
  flex-flow  : row;
  text-align : center;
  font-weight: 900;
}

.languages p {
  margin: 0;
}

.logo {
  width: 180px;
}

.negative {
  color: #ff0000;
}

.parallelogram {
  width          : 60px;
  height         : 30px;
  color          : white;
  display        : flex;
  align-items    : center;
  justify-content: center;
  border         : 1px solid #FEEC6E;
  transform      : matrix(-1, 0, 0, 1, 0, 0);
  transform      : skew(-25deg);
}

.parallelogram a:link {
  color          : white;
  text-decoration: none;
}

.parallelogram a:visited {
  color          : white;
  text-decoration: none;
}

.parallelogram a:active {
  color          : white;
  text-decoration: none;
}

.enable {
  background: #FEEC6E;
  color     : black;
}

.Positive {
  color: #00ff0a;
}

.section {
  padding: 2% 4%;
}

.features_section {
  padding: 0 4%;
}

.players-section {
  padding   : 2% 4%;
  margin-top: -110px;
}

.steps-title {
  font-weight: 900;
  font-size  : 34px;
  line-height: 48px;
  color      : #ffffff;
  margin     : 0;
  padding    : 0;
}

.steps-yellow-title {
  font-size: 48px;
}

.features-title {
  font-weight: 900;
  font-size  : 38px;
  line-height: 40px;
  color      : #ffffff;
  margin     : 10px 0;
}

.features-yellow-title {
  font-size: 44px;
}

.quotes-section {
  margin-top: -100px;
}

.countdown-title {
  font-weight: 900;
  font-size  : 38px;
  line-height: 45px;
  color      : #ffffff;
  margin     : 0 0 20px 0;
}

.choice-title {
  font-weight: 900;
  font-size  : 34px;
  line-height: 58px;
  color      : #ffffff;
}

.countdown-yellow-title {
  font-size: 44px;
}

.normal-text {
  color      : #ffffff;
  font-size  : 22px;
  line-height: 28px;
}

.flex-responsive {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: center;
  margin-left    : 5%;
  margin-top     : 20px;
}

.quotes-flex-responsive {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: center;
  margin-top     : 2%;
  margin-left    : 40px;
}

.features-flex-responsive {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: center;
}

.flex-responsive div {
  list-style: none;
  flex      : 0 0 33.33333%;
}

.quotes-flex-responsive div {
  list-style: none;
  flex      : 0 0 33.33333%;
}

.features-flex-responsive div {
  list-style: none;
  flex      : 0 0 33.33333%;
}

.flex-between {
  display        : flex;
  flex-flow      : row;
  align-items    : center;
  justify-content: start;
  margin-top     : 10px;
  position       : relative;
}

.steps-back {
  z-index : -1;
  position: absolute;
  height  : 80%;
  top     : 10%;
  left    : 40%;
}

.players-flex-between {
  display           : flex;
  flex-flow         : column;
  align-items       : center;
  /* margin         : 20px 10px; */
  justify-content   : start;
}

.quotes-flex-between {
  display          : flex;
  height           : 25vw;
  flex-flow        : column;
  align-items      : center;
  margin           : 40px 0;
  justify-content  : center;
  padding-right    : 40px;
  margin-left      : -40px;
  background-image : url("/static/aron/img/Rectangle.svg");
  background-repeat: no-repeat;
  background-size  : auto 100%;
  position         : relative;
}

.players-info {
  display          : flex;
  height           : 8vw;
  width            : 18vw;
  margin-top       : -40px;
  margin-left      : -50px;
  flex-flow        : column;
  align-items      : center;
  justify-content  : center;
  background-image : url("/static/aron/img/players_rect.svg");
  background-repeat: no-repeat;
  background-size  : 100% 100%;
  position         : relative;
}

.player-details {
  display        : flex;
  width          : 80%;
  margin-left    : -20px;
  flex-flow      : row;
  align-items    : flex-start;
  justify-content: start;
}

.player-name {
  font-weight   : 900;
  margin-left   : -10px;
  margin-bottom : 5px;
  font-size     : 1.5vw;
  line-height   : 25px;
  text-transform: uppercase;
}

.price {
  font-weight   : 900;
  font-size     : 1.3vw;
  line-height   : 20px;
  margin        : 10px 0px 0px 50px;
  text-transform: uppercase;
  color         : #ffffff;
}

.percent {
  font-size     : 0.8vw;
  line-height   : 24px;
  margin        : 0px;
  text-transform: uppercase;
  z-index       : 999;
}

.chart {
  height     : 2vw;
  margin-left: -10px;
}

.customer-name {
  position      : absolute;
  top           : 0px;
  left          : 38%;
  font-weight   : 900;
  font-size     : 1.4vw;
  line-height   : 30px;
  text-transform: uppercase;
}

.quote-date {
  position      : absolute;
  top           : 20px;
  left          : 60%;
  color         : aliceblue;
  font-size     : 1.5vw;
  line-height   : 30px;
  text-transform: uppercase;
}

.quote {
  width      : 65%;
  font-size  : 1.2vw;
  margin-left: 3vw;
  margin-top : 20px;
  line-height: 1.5vw;
}

.reactions {
  display        : flex;
  flex-flow      : row;
  justify-content: space-between;
  align-items    : center;
  position       : absolute;
}

.buttons {
  margin-bottom: -20px;
  margin-left  : -30px;
}

.like {
  bottom: 10%;
  left  : 8vw;
}

.comment {
  bottom: 10%;
  left  : 18vw;
}

.likes-count {
  color      : white;
  font-size  : 1.3vw;
  margin-left: 5px;
}

.comments-count {
  color      : white;
  margin-left: 5px;
  font-size  : 1.3vw;
}

.likes-img {
  height: 1.3vw;
}

.comments-img {
  height: 1.5vw;
}

.flex-column {
  display        : flex;
  flex-flow      : column;
  align-items    : center;
  margin         : 20px 0;
  justify-content: center;
  text-align     : center;
}

.flex-column img {
  width: 35%;
}

.flex-column p {
  font-style : italic;
  font-weight: 900;
  font-size  : 28px;
  line-height: 39px;
}

.learn-section {
  display        : flex;
  flex-flow      : row;
  align-items    : center;
  margin         : 10px 0;
  justify-content: start;
  margin-left    : 5%;
}

.choice-section {
  display        : flex;
  flex-flow      : row;
  align-items    : center;
  margin         : 10px 0;
  justify-content: space-evenly;
}

.countdown-section {
  display        : flex;
  flex-flow      : row;
  align-items    : center;
  margin         : 10px 0;
  justify-content: start;
}

.intro-section {
  display        : flex;
  flex-flow      : row;
  align-items    : center;
  margin         : 10px 0;
  justify-content: start;
}

.learn-text {
  width: 45%;
}

.img {
  width: 50%;
}

.players-img {
  height: 15vw;
}

.quotes-img {
  position: absolute;
  top     : -50px;
  left    : 16%;
  height  : 8vw;
}

.learn-img {
  width      : 35%;
  margin-left: 150px;
  margin-top : -20px;
}

.choice-img {
  width: 90%;
}

.choice-img img {
  width: 90%;
}

.countdown-text {
  font-style    : italic;
  color         : white;
  font-weight   : 900;
  font-size     : 3vw;
  line-height   : 3vw;
  text-transform: uppercase;
}

.countdown-word {
  font-weight   : 900;
  font-size     : 3vw;
  line-height   : 3vw;
  text-transform: uppercase;
}

.countdown-button-img {
  width        : 70%;
  /* margin-top: 20px; */
}

.intro-button-img {
  width        : 60%;
  margin-left  : -10px;
  margin-bottom: 20px;
}

.countdown-img {
  width : 50%;
  margin: -18% 0 0 -5%;
}

.intro-img {
  width      : 35%;
  margin-left: 10px;
}

.intro-info {
  margin-left: 8%;
}

.invest-word {
  font-weight   : 900;
  font-size     : 3vw;
  line-height   : 68px;
  text-transform: uppercase;
  margin        : 0;
}

.players-text {
  font-weight            : 900;
  font-size              : 4vw;
  line-height            : 4vw;
  background             : linear-gradient(334.16deg, #9A732B 0%, #F0BD51 13%, #FEEC6E 31%, #DD9C2B 68%, #FCD755 85%);
  -webkit-text-stroke    : 8px transparent;
  -webkit-background-clip: text;
  background-size        : 100% 100%;
  text-transform         : uppercase;
  margin                 : 10px 0;
}

.performance-text {
  font-weight   : 900;
  font-size     : 4vw;
  line-height   : 4vw;
  margin        : 10px 0;
  text-transform: uppercase;
  color         : #ffffff;
}

.join-text {
  font-weight: 500;
  font-size  : 2vw;
  line-height: 2vw;

  color: #FFFFFF;
}

.learn-button {
  display: contents;
}

.btn img {
  margin-top: 0.3vw;
  width     : 6vw;
}

.countdown-button {
  display: contents;
}

.background {
  position: absolute;
  top     : 0%;
  left    : 0%;
  z-index : -1;
}

.first-img {
  width: 100vw;
}

.second-img {
  width   : 100vw;
  position: absolute;
  top     : 30%;
  left    : 0%;
}

.third-img {
  width   : 100vw;
  position: absolute;
  top     : 50%;
  left    : 0%;
}

.forth-img {
  width   : 100vw;
  position: absolute;
  top     : 105%;
  left    : 0%;
}

.main-back-img {
  position: absolute;
  left    : 0%;
  top     : 0%;
  width   : 50%;
}

.clock-img {
  position: absolute;
  right   : 15%;
  top     : 102%;
  width   : 30%;
}

.over-1300 {
  width: 213px;
}

@media (min-width: 481px) and (max-width: 980px) {
  header {
    justify-content: flex-end;
    padding        : 5% 5% 0 2%;
  }

  .btn img {
    margin-top: 25px;
    width     : 7vw;
  }

  .chart {
    height     : 3vw;
    margin-left: -10px;
  }

  .price {
    font-size  : 1.5vw;
    line-height: 1.5vw;
    margin     : 10px 0px 0px 8vw;
  }

  .buttons {
    margin-bottom: 0px;
    margin-left  : -30px;
  }

  .percent {
    font-size  : 1vw;
    line-height: 1vw;
  }

  .learn-section {
    flex-flow      : column;
    justify-content: center;
  }

  .players-img {
    height      : 30vw;
    margin-right: 50px;
  }

  .upto {
    top        : 80px;
    font-size  : 30px;
    line-height: 38px;
    left       : 30%;
  }

  .upto span {
    font-size  : 50px;
    line-height: 68px;
  }

  .languages {
    margin-left: 80px;
  }

  .logo {
    width: 150px;
  }

  .flex-responsive div {
    flex: 0 50%;
  }

  .intro-img {
    width      : 60%;
    margin-left: -100px;
  }


  .invest-word {
    font-size  : 3vw;
    line-height: 3vw;
  }

  .players-text {
    font-size: 34px;
    margin   : 10px 0;
  }

  .intro-info {
    margin-left: 5%;
  }

  .intro-button-img {
    width: 70%;
  }

  .performance-text {
    font-size  : 34px;
    line-height: 50px;
  }

  .join-text {
    font-size: 24px;
    margin   : 10px 0px;
  }

  .quotes-img {
    top   : -40px;
    left  : 15%;
    height: 12vw;
  }

  .quote {
    width      : 65%;
    font-size  : 1.8vw;
    margin-left: 5vw;
    margin-top : 12vw;
    line-height: 2.5vw;
  }

  .customer-name {
    top        : 0px;
    left       : 20vw;
    font-size  : 2.5vw;
    line-height: 3vw;
  }

  .quote-date {
    top      : 5px;
    left     : 35vw;
    font-size: 2vw;
  }

  .quotes-flex-responsive div {
    flex: 0 50%;
  }

  .like {
    bottom: 10%;
    left  : 12vw;
  }

  .comment {
    bottom: 10%;
    left  : 28vw;
  }

  .likes-count {
    color      : white;
    font-size  : 1.8vw;
    margin-left: 5px;
  }

  .comments-count {
    color      : white;
    margin-left: 5px;
    font-size  : 1.8vw;
  }

  .likes-img {
    height: 1.8vw;
  }

  .comments-img {
    height: 2vw;
  }

  .choice-title {
    font-size : 28px;
    text-align: center;
  }

  .features-flex-responsive div {
    flex: 0 50%;
  }

  .choice-section {
    flex-flow: column;
  }

  .img {
    width: 60%;
  }

  .title {
    font-size  : 36px;
    line-height: 44px;
  }

  .yellow-title {
    font-size: 38px;
  }

  .learn-text {
    width: 100%;
  }

  .flex-between {
    justify-content: start;
    width          : 50%;
  }

  .players-flex-between {
    align-items    : initial;
    justify-content: start;
    width          : 50%;
  }

  .players-info {
    width      : 30vw;
    margin-left: 10px;
  }

  .quotes-flex-between {
    justify-content: start;
    height         : 38vw;
  }

  .learn-img {
    width      : 80%;
    margin-top : -50px;
    margin-left: 0;

  }

  .features-title {
    font-size: 32px;
  }

  .features-yellow-title {
    font-size: 38px;
  }

  .countdown-title {
    font-size: 32px;
  }

  .countdown-yellow-title {
    font-size: 38px;
  }

  .countdown-img {
    width : 60%;
    margin: -25% 0 0 -10%;
  }

  .countdown-button-img {
    width: 100%;
  }

  .countdown-text {
    font-size  : 3.5vw;
    line-height: 3.5vw;
  }

  .countdown-word {
    font-size  : 4.5vw;
    line-height: 4.5vw;
  }

  .choice-img {
    width: 80%;
  }

  .first-img {
    width: 100vw;
  }

  .second-img {
    width: 100vw;
    top  : 50%;
  }

  .third-img {
    width: 100vw;
    top  : 160%;
  }

  .forth-img {
    width: 100vw;
    top  : 250%;
  }

  .clock-img {
    top  : 240%;
    width: 30%;
  }

  .player-name {
    margin-bottom: 5px;
    margin-top   : 20px;
    font-size    : 1.8vw;
  }

  .over-1300 {
    width: 213px;
  }
}

@media (max-width: 481px) {
  .flex-responsive div {
    flex: 60%;
  }

  .percent {
    font-size  : 2vw;
    line-height: 24px;
    margin     : 0px;
  }

  .quotes-section {
    margin-top: 0px;
  }

  .players-img {
    height: 50vw;
  }

  header {
    flex-flow      : column;
    justify-content: flex-end;
    align-items    : flex-end;
    padding        : 5% 5% 0 2%;
  }

  .parallelogram {
    width : 50px;
    height: 25px;
  }

  .languages {
    margin-bottom: 30px;
  }

  .logo {
    width: 120px;
  }

  .show {
    display: none;
  }

  .hide {
    display: block;
  }

  .choice-title {
    font-size  : 20px;
    line-height: 30px;
  }

  .steps-title {
    font-size  : 24px;
    line-height: 35px;
  }

  .choice-img {
    width: 90%;
  }

  .choice-section {
    flex-flow: column;
  }

  .steps-yellow-title {
    font-size: 32px;
  }

  .flex-column img {
    width: 50%;
  }

  .flex-column p {
    font-size  : 14px;
    line-height: 17px;
  }

  .features-flex-responsive div {
    flex: 40%;
  }

  .img {
    width: 45%;
  }

  .title {
    font-size  : 20px;
    line-height: 24px;
  }

  .countdown-section {
    flex-flow: column;
  }

  .intro-section {
    flex-flow: column;
  }

  .yellow-title {
    font-size: 24px;
  }

  .learn-text {
    width: 100%;
  }

  .normal-text {
    font-size  : 20px;
    line-height: 24px;
  }

  .flex-between {
    justify-content: start;
  }

  .learn-section {
    flex-flow      : column;
    justify-content: center;
  }

  .learn-img {
    width      : 100%;
    margin-left: 0;
  }

  .features-title {
    font-size  : 24px;
    line-height: 30px;
  }

  .features-yellow-title {
    font-size: 28px;
  }

  .countdown-title {
    font-size  : 18px;
    line-height: 30px;
  }

  .countdown-yellow-title {
    font-size: 20px;
  }

  .countdown-section {
    align-items: start;
  }

  .intro-section {
    align-items: start;
    margin-top : -120px;
  }

  .countdown-img {
    width : 80%;
    margin: -30% 0 0 -15%;
  }

  .countdown-text {
    font-size  : 6vw;
    line-height: 6vw;
  }

  .countdown-word {
    font-size    : 8vw;
    line-height  : 8vw;
    margin-top   : -20px;
    margin-bottom: 10px;
  }

  .countdown-button-img {
    width     : 100%;
    margin-top: 0px;
  }

  .quotes-img {
    top   : -30px;
    left  : 10vw;
    height: 25vw;
  }

  .quote {
    width      : 65%;
    font-size  : 14px;
    line-height: 15px;
    margin-left: 50px;
    margin-top : 25%;
  }

  .customer-name {
    top        : 0px;
    left       : 32vw;
    line-height: 5vw;
    font-size  : 5vw;
  }

  .quote-date {
    top      : 5px;
    left     : 64vw;
    font-size: 4vw;
  }

  .quotes-flex-responsive div {
    flex  : 60%;
    margin: 20px 10px;
  }

  .quotes-flex-responsive {
    margin-left: 0px;
  }

  .quotes-flex-between {
    height         : 70vw;
    justify-content: start;
  }

  .like {
    bottom: 1vw;
    left  : 20vw;
  }

  .reactions {
    font-size: 14px;
  }

  .comment {
    bottom: 1vw;
    left  : 50vw;
  }

  .players-info {
    width: 80%;
  }

  .btn img {
    margin-top: 5px;
    width     : 20vw;
  }

  .intro-img {
    width      : 80%;
    margin-left: -100px;
  }


  .invest-word {
    font-size  : 32px;
    line-height: 30px;
  }

  .players-text {
    font-size  : 8vw;
    line-height: 8vw;
    margin     : 0;
  }

  .intro-info {
    margin-left : 0px;
    margin-right: 5px;
    margin-top  : -140px;
    text-align  : right;
  }

  .intro-button-img {
    width: 100%;
  }

  .performance-text {
    font-size  : 32px;
    line-height: 50px;
  }

  .join-text {
    font-size  : 6vw;
    line-height: 6vw;
    margin-top : 20px;
  }

  .players-section {
    margin-top: 0px;
  }

  .players-flex-between {

    margin: 20px 10px;

  }

  .upto {
    top        : 0px;
    font-size  : 22px;
    line-height: 32px;
    left       : 28%;
  }

  .upto span {
    font-size  : 38px;
    line-height: 50px;
  }

  .first-img {
    width: 100vw;
  }

  .second-img {
    width: 100vw;
    top  : 130%;
  }

  .third-img {
    width: 100vw;
    top  : 350%;
  }

  .forth-img {
    width: 100vw;
    top  : 495%;
  }

  .clock-img {
    top  : 456%;
    right: 5%;
    width: 45%;
  }

  .player-name {
    margin-bottom: 5px;
    font-size    : 4vw;
  }

  .price {
    font-size    : 4vw;
    margin-bottom: 10px;
    margin-left  : 15vw;
  }

  .buttons {
    margin-bottom: -10px;
  }

  .likes-count {
    font-size  : 3.5vw;
    margin-left: 5px;
  }

  .comments-count {
    margin-left: 5px;
    font-size  : 3.5vw;
  }

  .likes-img {
    height: 3.5vw;
  }

  .comments-img {
    height: 4vw;
  }

  .chart {
    height     : 5vw;
    margin-left: -10px;
  }

  .over-1300 {
    width: 107px;
  }
}